*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #fcf5e9;
    --dark-color: #333;
    --container-normal: 1100px;
    --container-wide:1400px;
    --container-narrow:900px;
}

body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

a{
    text-decoration: none;
    color: var(--dark-color);
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

.bg-primary{
    background-color: var(--primary-color);
    color: var(--dark-color);
}

.bg-dark{
    background:var(--dark-color);
    color:#fff;
}

.bg-dark .bg-primary{
    padding:0 0.3rem;
}

.btn{
    display:inline-block;
    padding:1rem 2rem;
    border: 1px solid var(--dark-color);
    background:transparent;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.btn:hover{
    background:var(--dark-color);
    color: #fff;
}

/* Container Styles */
.container{
    max-width: var(--container-normal);
    margin: 0 auto;
    padding: 0 1.5rem;
}

.container-lg{
    max-width: var(--container-wide);
}
.container-sm{
    max-width: var(--container-narrow);
}

/*header styles */
header{
   margin: 1.5rem auto;
}
.header .logo{
    width: 130px;
}
.header .header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header .main-menu{
display: flex;
gap: 1.2rem;

}

.header .main-menu a{
    padding: 0.5rem 1rem;
}

.header .main-menu a:hover{
background:var(--primary-color);
}

/*Hero*/
.hero{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2{
    font-size: 3rem;
    line-height: 1.4;
    font-weight:normal;
}

.gallery-flex{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    gap: 20px;

}
.gallery-item{
    width:calc(33.33% - 20px)
}

/*footer*/
.footer{
    border-top: 1px solid #aaa;
    padding: 2rem 1.5rem;
    margin-top: 2rem;
}

.footer-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    flex-wrap: wrap;
}

/* Logo */
.footer img{
    width: 120px;
    height: auto;
}

/* Headings */
.footer h4{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

/* Contact & Follow sections */
 .contact,
 .follow{
    display: flex;
    flex-direction: column;
}

/* Social Icons */
 .follow a{
    margin-right: 0.5rem;
}

/* Make icons stay in one line */
.follow{
    align-items: flex-start;
}

.services{
    padding: 3rem 0 4rem;
}
.services-flex{
    display: flex;
    gap: 2rem;
}
.service-item h4{
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
}

.team{
    padding: 3rem 0 4rem;
}

.section-heading{
    text-align: center;
    padding-bottom: 20px;
}
.team-flex{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
}

.team img{
    border-radius: 10px;
    width: 250px;
}

.contact{
    padding: 3rem 0 4rem;
}

.contact p{
    text-align: center;
    margin-bottom: 2rem;
}
.form-group{
    margin: 2rem 0;
}
.contact input,
.contact textarea{
    border: none;
    border-bottom: 1px #333 solid;
    width: 100%;
    padding-bottom: 1rem;
    font-family: inheret;
    font-size: 16px;
}

.contact textarea{
    height: 200px;
}

.contact input:focus,
.contact textarea:focus{
    outline: 0;
}

.contact .btn{
    width: 100%;
}

@media(max-width:768px){

    .header .header-flex,
    .footer .footer-flex,
    .services .services-flex,
    .team .team-flex{
        flex-direction: column;
        gap: 1.5rem;
    }
    .hero h2{
        font-size:1.8rem;
    }
    .gallery-item{
        width: calc(50% - 20px);
    }
    .footer .footer-flex{
        text-align: center;
    }
}